
#home-page-search-bar {
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  width: 500px;
}

#home-page-head{
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 6em;
  text-align: center;
  display: block center;
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  padding-bottom: 30px;
  color: #0a84ff;
}
#andina {
  background-image: url(../imgs/andinaHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#darsalam {
  background-image: url(../imgs/darsalamHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#departure {
  background-image: url(../imgs/departureHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
#imperial {
  background-image: url(../imgs/imperialHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#kachka{
  background-image: url(../imgs/kachkaHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#lepigeon{
  background-image: url(../imgs/lepigeonHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#lucca {
  background-image: url(../imgs/luccaHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#olympia {
  background-image: url(../imgs/olympiaHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#park-kitchen {
  background-image: url(../imgs/parkHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#piattino {
  background-image: url(../imgs/piattinoHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#screen-door {
  background-image: url(../imgs/screenHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
#shalom {
  background-image: url(../imgs/shalomHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#st-jack {
  background-image: url(../imgs/jackHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#tapalaya {
  background-image: url(../imgs/tapalayaHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#tastynalder {
  background-image: url(../imgs/tastyHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#tinshed {
  background-image: url(../imgs/tinshedHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#toro-bravo {
  background-image: url(../imgs/toroHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#navigate {
  background-image: url(../imgs/testBackground.jpeg);
}

#home-page-links {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

#buttonNW {
  background-color: #2d2e2d;
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  font-size: 35px;
  position:relative;
}

#buttonNE {
  background-color: #2d2e2d;
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  font-size: 35px;
  position:relative;
}

#buttonSW {
  background-color: #2d2e2d;
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  font-size: 35px;
  position:relative;
}

#buttonSE {
  background-color: #2d2e2d;
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  font-size: 35px;
  position:relative;
}

#userPhoto {
  background-image: url(../imgs/userExample.png);
  background-size: auto;
}


#menu-example {
  max-width: 500px;
  height: 600px;
}

#newEntry{
  color:black;

}

#topNav a:link {
  color: black;
  background-color: #fffdd0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: 'Amatic SC', cursive;
  font-weight:400;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: black;
  background-color: #fffdd0;
}

.zoneDrop {
  margin-top: -10%;
}

.skyShift {
  height: 300px;
}

.centeringRow {
  margin-top: 140px;
}

.dietDrop {
  margin-left: 80%;
  margin-top: -8%;
}

#navigate h1 {
  font-size: 70px;
}
.navTron {
  font-family: 'Amatic SC', cursive;
  font-weight:1000;
  font-size: 60px;
  background-image: url(../imgs/jumbotron2.jpeg);
  background-size:cover;
  text-align: center;
  color:black;
}
.jumbotron{
  font-family: 'Amatic SC', cursive;
  font-weight:1000;
  font-size: 60px;
  background-image: url(../imgs/jumbotron.jpeg);
  background-size:cover;
  text-align: center;
}


#headerLinksLeft {
  font-size: 40px;
  color:white;
  margin-right: 60%;
  position: absolute;
}

#headerLinksLeft a {
  color:white;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;

}

#headerLinksRight {
  font-size: 40px;
  margin-right: -83%;
  margin-bottom: 0%;
  color:white;
  /* position: absolute; */
}

#headerLinksRight a {
color:white;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;

}

.icon {
  margin-right: 25%;
  background-color: white;
  border-width: none;
}

.active {
  background-color: grey;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color: #5e96ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: 10%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color:#fffdd0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #87a96b;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  #87a96b;}

.card {
  text-align: center;
  opacity: .90;
}

#place {
  margin-top: 2%;
  opacity: .85;
}
#thoughts{
  margin-top: 2%;
  opacity: .85;
  padding-bottom: 5%;
  padding-right: 5%;
}
#SignUp {
  background-color: white;
}

#submitReview{
  margin-top: 2%;
}
#entriesText{
  opacity: .85;
  text-align: center;
}
#userReview{
  background-image: url(../imgs/userBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#entriesText {
  margin-top: 50px;
  color: black;
}

#newEntry {
  color: #black;
  cursor: pointer;
}

#submitReview{
  background-color: #333;
  color: white;
}

#entryForm {
  display: none;
}

#diaryCard {
  padding: 20px;
  background-color: lightgrey;
}
.home {
  background-image:url(../imgs/food1.jpeg);
  background-size: cover;
}

.card {
  margin-top: 25px;
  background-color: #edeeef;
}
